<h1>Product</h1>
<p>
  <strong>Name:</strong> <%= @product.name %>
</p>
<p>
  <strong>Description:</strong> <%= @product.description %>
</p>
<p>
  <strong>Price:</strong> <%= @product.formatted_price %>
</p>
<p>
  <strong>Category: </strong><% if @product.category %>
  <%= @product.category.name %>
  <% else %>
  <%= "None" %>
  <% end %>
</p>

<h3>Reviews</h3>

  <p>Reviews for <%= @product.name %></p>
    <div id = "review-list">
      <%= render :partial => "reviews" %>
    </div>

  <% if current_user %>
  <h4>New Review</h4>

  <%= form_for([@product, @review], :remote => true) do |f| %>
    <div id="review-form-errors">
      <%= render :partial => "/products/review_form_errors" %>
    </div>

    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<script type="text/javascript">
  $(function() {
     $("#new_review")
        .on('ajax:beforeSend', function() {
          $("input[type='submit']")
            .val('Saving...')
            .attr('disabled', 'disabled'); 
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create Review')
            .removeAttr('disabled');
        });
  });
</script>
